# Length units

meter.cache.static.low 			= 0
meter.cache.static.size 		= 16
meter.cache.dynamic.size 		= 8

mile.cache.static.low 			= 0
mile.cache.static.size 			= 1
mile.cache.dynamic.size 		= 8

yard.cache.static.low 			= 0
yard.cache.static.size 			= 1
yard.cache.dynamic.size 		= 8

foot.cache.static.low 			= 0
foot.cache.static.size 			= 1
foot.cache.dynamic.size 		= 8

inch.cache.static.low 			= 0
inch.cache.static.size 			= 1
inch.cache.dynamic.size 		= 8


# Mass units

kg.cache.static.low 			= 0
kg.cache.static.size 			= 1
kg.cache.dynamic.size 			= 8

pound.cache.static.low 			= 0
pound.cache.static.size 		= 1
pound.cache.dynamic.size 		= 8


# Temperature units

kelvin.cache.static.low 		= 0
kelvin.cache.static.size 		= 1
kelvin.cache.dynamic.size 		= 8

fahrenheit.cache.static.low 	= 0
fahrenheit.cache.static.size	= 1
fahrenheit.cache.dynamic.size	= 8

celsius.cache.static.low 		= 0
celsius.cache.static.size 		= 1
celsius.cache.dynamic.size 		= 8


# Time units

second.cache.static.low 		= 0
second.cache.static.size 		= 1
second.cache.dynamic.size 		= 8

minute.cache.static.low 		= 0
minute.cache.static.size 		= 1
minute.cache.dynamic.size 		= 8

hour.cache.static.low 			= 0
hour.cache.static.size 			= 1
hour.cache.dynamic.size 		= 8

# Speed units

mps.cache.static.low 			= 0
mps.cache.static.size 			= 1
mps.cache.dynamic.size 		= 8

mph.cache.static.low 			= 0
mph.cache.static.size 			= 1
mph.cache.dynamic.size 		= 8